## Approach 1: Reading the file using pandas

In [18]:
import pandas as pd
data = pd.read_csv('2019-Nov.csv',low_memory=False)
data.head()

ParserError: Error tokenizing data. C error: out of memory

#### The file above is too large to process in memory using pandas.Let's try reading it in chunks

In [23]:
chunk_size = 100000
chunks = pd.read_csv('2019-Nov.csv',low_memory=False,chunksize=chunk_size)

# Process each chunk
data = pd.concat(chunk for chunk in chunks)

ParserError: Error tokenizing data. C error: out of memory

#### Even when using pandas to read the file in chunks, it's too large and experiences memory limitations

In [24]:
chunk_size = 100000
chunks = pd.read_csv('2019-Nov.csv', chunksize=chunk_size, low_memory=False)

# Process each chunk
data = pd.concat(chunk for chunk in chunks)

ParserError: Error tokenizing data. C error: out of memory

### Approach 2: Reading the file using Dask

In [4]:
# !pip install dask

In [3]:
# !pip cache purge
# !pip install dask

In [6]:
import dask.dataframe as dd

# Read the CSV file using Dask
df = dd.read_csv('2019-Nov.csv')

# Converting to pandas
df_result = df.compute()

df_result.head()

C:\Users\VIVIAN\anaconda3\envs\practice-env\lib\site-packages\dask\dataframe\__init__.py:49: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

#### Dask has not experienced memory limitations as the data is read.Let's test the computational time taken

In [5]:
import dask.dataframe as dd
import time
start_time = time.time()
# Read the CSV file using Dask
df = dd.read_csv('2019-Nov.csv')

# To actually compute and bring the result into memory (for example, to convert to Pandas)
df_result = df.compute()

end_time = time.time()

print(f"Time Taken: {end_time - start_time} seconds")

# Displaying the first five rows
df_result.head()

FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

Time Taken: 171.2266070842743 seconds

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

The time taken to read the first rows of the data using dusk is 170 seconds

In [4]:
df_result.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')

#### Performing basic validation
By:
    Clean the column names of the Dask DataFrame by:
    
    1. Removing leading/trailing spaces.
        
    2. Replacing spaces with underscores.

Since all my columns are properly named using underscores and do not have any special characters, I'll only do the above two

In [2]:
import dask.dataframe as dd

# Function to perform all that at once
def clean_column_names(df):
    
    # Removing trailing spaces
    df.columns = df.columns.str.strip()
    # Removing special characters with underscore
    df.columns = df.columns.str.replace(r'\W+', '_', regex=True)
    
    return df

In [3]:
# Calling the function

clean_column_names(df_result)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
...,...,...,...,...,...,...,...,...,...
482625,2019-11-16 10:00:44 UTC,view,4803005,2053013554658804075,electronics.audio.headphone,sven,12.59,527910293,a7dfd0f3-8dc9-4471-a5d8-0f0cc68c4e27
482626,2019-11-16 10:00:44 UTC,view,1005122,2053013555631882655,electronics.smartphone,apple,1022.75,523045940,7b0f7f6e-a4e8-49b5-91d3-b77aa1f00b0b
482627,2019-11-16 10:00:44 UTC,view,1005182,2053013555631882655,electronics.smartphone,samsung,977.86,518666558,d6bf8408-9597-4a0f-99d3-ba94f7b5e669
482628,2019-11-16 10:00:44 UTC,view,30100095,2053013556110033341,NaN,stanley,52.24,516687212,4b0b6a9a-6ba5-45b1-8f99-16369b6a9fbe
482629,2019-11-16 10:00:44 UTC,cart,26600353,2053013563517174627,NaN,NaN,87.72,571430596,0937d51f-54dd-44f2-bd2c-12

### Approach 3: Reading the file using Modin

In [3]:
# !pip install modin[dask]

In [2]:
# import modin.pandas as mpd
# import time

# # Start the timer
# start_time = time.time()

# # Read the CSV file using Modin
# df = mpd.read_csv('2019-Nov.csv')

# # End the timer
# end_time = time.time()

# # Print the elapsed time
# print(f"Time taken: {end_time - start_time:.2f} seconds")

# # Display the first few rows of the resulting DataFrame
# print(df.head())

### Writing Yaml file

In [5]:
df_result.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')

In [1]:
%%writefile testutility.py
import yaml
import pandas as pd

# Function to read the YAML file
def read_config_file(filepath):
    try:
        with open(filepath, 'r') as f:
            return yaml.safe_load(f)
    except FileNotFoundError:
        print(f"Error: The file {filepath} was not found.")
        return None
    except yaml.YAMLError as exc:
        print(f"Error reading YAML file: {exc}")
        return None

# Function to validate column headers
def column_header(df_result, table_config):
    df_result.columns = df_result.columns.str.strip()
    df_result.columns = df_result.columns.str.lower()  # Ensures case-insensitivity
    
    # Removing special characters with underscore
    df_result.columns = df_result.columns.str.replace(r'\W+', '_', regex=True)

    # Extract expected columns from YAML
    expected_columns = list(table_config['columns'])
    expected_columns.sort()

    # Sort actual columns for comparison
    actual_columns = list(df_result.columns)
    actual_columns.sort()

    # Compare sorted columns
    if actual_columns == expected_columns:
        print("Column name and column length validation passed")
        return 1
    else:
        print("Column name and column length validation failed")
        mismatched_columns = set(actual_columns) - set(expected_columns)
        missing_in_yaml = set(expected_columns) - set(actual_columns)
        print("The following columns are not in the YAML file:", list(mismatched_columns))
        print("The following YAML columns are not in the file uploaded:", list(missing_in_yaml))
        return 0

Overwriting testutility.py

In [2]:
%%writefile file.yaml
file_type: csv
file_name: 2019-Nov
dataset_name: 2019-Nov.csv
inbound_delimiter: ","
outbound_delimiter: "|"
columns:
  - event_time
  - event_type
  - product_id
  - category_id
  - category_code
  - brand
  - price
  - user_id
  - user_session

Overwriting file.yaml

In [3]:
# Reading config file
import testutility as util
config_data = util.read_config_file("file.yaml")

In [4]:
# Let's check if the file type is being read correctly by reading the dataset name

config_data['dataset_name']

'2019-Nov.csv'

In [7]:
# Inspecting data of config file
config_data

{'file_type': 'csv',
 'file_name': '2019-Nov',
 'dataset_name': '2019-Nov.csv',
 'inbound_delimiter': ',',
 'outbound_delimiter': '|',
 'columns': ['event_time',
  'event_type',
  'product_id',
  'category_id',
  'category_code',
  'brand',
  'price',
  'user_id',
  'user_session']}

In [46]:
# Normal reading process of the file is usuall like this but cause of memory limitations let's comment out this lines
# import pandas as pd
# df_sample = pd.read_csv('2019-Nov.csv')
# df_sample.head()

In [8]:
# Reading the file using config file
file_type = config_data['file_type']
source_file = "./" + config_data['file_name'] + f'.{file_type}'

# Print source file
df = dd.read_csv(source_file,delimiter=config_data['inbound_delimiter'])
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

In [11]:
# Validating the column headers
util.column_header(df,config_data)

Column name and column length validation passed

1

### File summary

In [19]:
import os
num_rows = len(df)
num_cols = len(df.columns)
file_path = '2019-Nov.csv'
size = os.path.getsize(file_path)

print(num_rows)
print(num_columns)
print(size)

35391025
9
4723834880

#### The file has:
* 35391025 rows
* 9 columns
* 4723834880 bytes